{# templates/Portfolio/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-light " id=menu>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse link_menu" id="navbarNavAltMarkup">
        <div class="navbar-nav ">        
            <a class="nav-item nav-link " href="#présentation">Présentation</a>
            <a class="nav-item nav-link" href="#compétences">Compétences</a>
            <a class="nav-item nav-link" href="#réalisations">Réalisations</a>
            <a class="nav-item nav-link" href="#">Parcours</a>
            <a class="nav-item nav-link" href="#">contact</a>
        </div>
    </div>

    <div class="d-flex mot-menu">menu</div>
</nav>




<div class="container p-0">

    <div class="container-nav">
        <nav class="d-flex justify-content-between">
            <div class="font-weight-bolder nav_contact"><a href="#header">Marylène Mougeot</a></div>

            <div class="nav_contact_mail ">me contacter<a  href="#"><img src="https://img.icons8.com/carbon-copy/100/000000/important-mail.png"  class="img-mail "></a>
            </div>
        </nav>
    </diV>

    <div class="scrolling-box">

        <div class="partie-header border-bottom border-dark d-flex justify-content-between" id="header">


        </div>


        <div class="partie-presentation border-bottom border-dark " id="présentation">

            <div class="d-flex justify-content-center text-uppercase font-weight-bold fts3 mb-2 pt-5 title-partie">
                <p>à propos de moi <br> <span class="d-flex justify-content-center word-spacing-1"> &#47; &#47; &#47;
                    </span> </p>
            </div>

            <div class="col- col-sm- col-md- col-lg- col-xl-10 d-flex justify-content-end ">
                <p class="fts4 mt-4 text-presentation mt-5">
                    Je suis Marylène,<br> développeuse web junior
                </p>
            </div>

            <div class=" d-flex justify-content-around pt-5 pb-7">

                <div class="col- col-sm- col-md- col-lg- col-xl-2">
                    <img src="/image/moi.png" alt="photo de moi" class="logo-img mt-5">
                </div>
                <div class="col- col-sm- col-md- col-lg- col-xl-6">
                    <p class="pt-9 mt-4 fts2 text-left biographie fts5 ">
                        Je suis actuellement en formation "Développeur Web & Web mobile" depuis Novembre 2019.
                        <br>
                        Ce qui me plaît dans le développement c'est la conception graphique, la découverte de nouvelles
                        technologies web.
                        <br>
                        Je me passionne pour la décoration de bougies.
                    </p>
                </div>
            </div>
        </div>



        <div class="partie-presentation border-bottom border-dark" id="compétences">

            <div class="d-flex justify-content-center text-uppercase font-weight-bold fts3 mb-2 pt-5 title-partie">
                <p>Mes compétences <br> <span class="d-flex justify-content-center word-spacing-1"> &#47; &#47; &#47;
                    </span> </p>
            </div>

            <div class="d-flex justify-content-around mt-5 pb-7">
                <div class="mt-5">
                    <p class="fts2 border-bottom border-dark">Languages</p>
                    <div>
                        <div class="d-flex">
                            <p> HTML5 / CSS3 :</p>
                            <p><img src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /></p>
                        </div>

                        <div class="d-flex">
                            <p> JAVASCRIPT :</p>
                            <p><img src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /></p>
                        </div>

                        <div class="d-flex">
                            <p> PHP :</p>
                            <p><img src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /></p>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <p class="fts2 border-bottom border-dark">Framework</p>
                    <div>
                        <div class="d-flex">
                            <p> BOOTSTRAP :</p>
                            <p><img src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /></p>
                        </div>

                        <div class="d-flex">
                            <p> SYMFONY ::</p>
                            <p><img src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /></p>
                        </div>

                        <div class="d-flex">
                            <p> REACT :</p>
                            <p><img src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /></p>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <p class="fts2 border-bottom border-dark">CMS</p>
                    <div>
                        <div class="d-flex">
                            <p> WORDPRESS :</p>
                            <p><img src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/material-rounded/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /><img
                                    src="https://img.icons8.com/small/24/000000/star.png" /></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="partie-réalisations  border-bottom border-dark  pb-7 " id="réalisations">

            <div class="d-flex justify-content-center text-uppercase font-weight-bold fts3 mb-2 pt-5 title-partie">
                <p>Mes réalisations <br> <span class="d-flex justify-content-center word-spacing-1"> &#47; &#47; &#47;
                    </span> </p>
            </div>

            {% include "Portfolio/bootstrap.html.twig" %}

        </div>



        <div class="partie-parcours border-bottom border-dark " id="présentation">
            <div class="d-flex justify-content-center text-uppercase font-weight-bold fts3 mb-2 pt-5 title-partie">
                <p>à propos de moi <br> <span class="d-flex justify-content-center word-spacing-1"> &#47; &#47; &#47;
                    </span> </p>
            </div>
        </div>



        <div class="partie-contact  " id="présentation">
            <div class="d-flex justify-content-center text-uppercase font-weight-bold fts3 mb-2 pt-5 title-partie">
                <p>à propos de moi <br> <span class="d-flex justify-content-center word-spacing-1"> &#47; &#47; &#47;
                    </span> </p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% endblock %}