{% block stylesheets %}
<link href=" https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/projet.css') }}">
{% endblock %}

{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}


{% block body %}

{% block content %}
<div class="menu">

    <nav class="navbar navbar-expand-lg navbar-light " id=menu>
        <button id="btn_nav" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse.show collapse show link_menu" id="navbarNavAltMarkup">
            <ul class="navbar-nav d-flex flex-column ">
                <a class="nav-item nav-link  " href="#présentation">Présentation</a>
                <a class="nav-item nav-link " href="#compétences">Compétences</a>
                <a class="nav-item nav-link " href="#réalisations">Réalisations</a>
                <a class="nav-item nav-link " href="#parcours">Parcours</a>
                <a class="nav-item nav-link " href="#contact">contact</a>
            </ul>
        </div>

        <div class="d-flex mot-menu">menu</div>
    </nav>
</div>

<div class="container p-0">


    <div class="scrolling-box">

        <div class="btn-effect text-left pt-7 pulsate-bck">
            <a href="{{ path('bootstrap') }}">
                <p class="btn-cercle"><img src="https://img.icons8.com/carbon-copy/100/000000/circled-left-2.png" /></p>

            </a>
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}